<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.flumine.typeone">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TypeOne"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".MealsActivity"></activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_login" />
        <activity
            android:name=".RecordsActivity"
            android:label="@string/title_records">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RecordActivity"
            android:label="@string/record" />
        <activity
            android:name=".LongActivity"
            android:label="@string/edit_long" />
        <activity
            android:name=".PhotoActivity"
            android:label="@string/title_photo" />
        <activity
            android:name=".NewPhotoActivity"
            android:label="@string/title_new_photo" />
        <activity
            android:name=".NewRecordActivity"
            android:label="@string/title_new_record" />
        <activity
            android:name=".NewLongActivity"
            android:label="@string/title_new_long" />
    </application>

</manifest>